@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Outfit', sans-serif;
}
h1{
    text-align: center;
}
.label{
    text-align: left;
    margin: 5px;
}

.formInput{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
img{
    width: 200px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
}
.imageResults{
    display: flex;
    flex-direction: row;
    background-color: #dff5f4;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 20px;
}
input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.button{
    padding: 8px;
    margin: 0px 5px;
    background-color: #027a75;
    color: #fff;
    border: none;
    border-radius: 5px;
}