<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generated</title>
</head>
<body>
    <div class="container">
        <h2>Image Generated</h2>
        <h2><strong>Results</strong> </h2>
        <div class="imageResults">
            <div>
                <p><strong>Your prompt</strong> {{ prompt }}</p>
                <p>{{ img_url }}</p>
                <img src="{{img_url}}" alt="" srcset="">
            </div>
        </div>

        <div>
            <strong>Go back home: </strong>
            <a href=""><button class="button">Home</button></a>
        </div>
    </div>
</body>
</html>