<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colour Pallette</title>
</head>
<body>
    <h1>Colour Picker from Image</h1>

    <form class="container" id="form1" method="POST" >
      <label for="imageURL" class="label">Paste Image URL</label><br />
      <div class="formInput">
        <input type="url" name="ImageSelected" placeholder="https://" id="">
        <input type="submit" class="button" value="Generate Colour" />
      </div>
      </form>

      <h2>Image to Notes</h2>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="image">Select Image:</label>
        <input type="file" id="image" name="image">
        <br><br>
        <input type="submit" value="Upload">
      </form>
</body>
</html>