<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colour Pallette</title>
</head>
<body>
    <h1>Colour Palette Picker from Image</h1>

    <form class="container" id="form1" method="POST" >
      <label for="imageURL">URL of the image</label><br />
      <input type="url" name="ImageSelected" id="">
        <div class="row">
          <input type="submit"  value="Generate Palette" />
        </div>
      </form>
</body>
</html>