<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colour Picker</title>
</head>
<body>
    <div class="container">
        <h1>Colour Picker</h1>
        <h2><strong>Results</strong> </h2>
        <div class="imageResults">
            <div>
                <img src="{{ImageSelected}}" alt="" srcset="">
            </div>
            <div class="imageDesc">
                <p><strong>Dominant Colours:</strong> {{ dominantCOLOURS }}</p>
                <p><strong>Accent Colour:</strong> {{ accentCOLOUR }}</p>
                <p><strong>Is the image Black & White:</strong> {{ blackWHITE }}</p>
            </div>
        </div>

        <div>
            <strong>Try another image: </strong>
            <a href="/"><button class="button">New Image</button></a>
        </div>
    </div>
</body>
</html>